<!-- Facts Start -->
<div class="container-fluid facts my-5 p-5">
  <div class="row g-5">
    {% for fact in facts %}
    <div class="col-md-6 col-xl-3">
      <div class="text-center border p-5 wow fadeIn" data-wow-delay="{{ forloop.counter0|add:"0.2"|floatformat:1 }}s">
        <i class="fa {{ fact.icon_class }} fa-3x text-white mb-3"></i>
        <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">{{ fact.number }}</h1>
        <span class="fs-5 fw-semi-bold text-white">{{ fact.label }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Facts End -->
